/* Estilos para la lista de productos */
.product-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-card img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.product-card .product-info {
    flex-grow: 1;
}

.product-card .product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-card .product-price {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-card .btn {
    background-color: #007bff;
    border: none;
}

.product-card .btn:hover {
    background-color: #0056b3;
}

/* Estilos para la sección de filtros */
.filter-section {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px; /* Espacio a la derecha de la sección de filtros */
}
